@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: "Segoe UI",
  "Open Sans",
  "Helvetica Neue",
  sans-serif;
}

/* body {
 /* min-height: 100vh; */
 /* height: 90px; */
 /* overflow-x: hidden; */

/* } */
.main {
 /* position: absolute; */
 width: calc(100% - 300px);
 height: 90px;
 left: 300px;
 /* min-height: 100vh; */
 background-color: #f5f5f5;
 transition: 0.5s;
 border-top-left-radius: 40px;
 border-bottom-left-radius: 13px;
}
.main.active {
  width: calc(100% - 70px);
  left: 70px;
  height: 90px;
}
.main .topbar {
 width: 100%;
 background: #f5f5f5;
 height: 90px;
 padding: 0 10px;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-direction: row;
 border-top-left-radius: 50px;
}

.main .topbar .toggle .title {
 display: block;
 position: relative;
 font-size: 0.8em;
 padding: 0 10px;
 height: 60px;
 line-height: 20px;
 white-space: nowrap;
 margin: 6px 50px;
}
.main .topbar .toggle .title h2{
  margin-bottom: 10px         ;
}
.main .topbar .toggle .title p{
  margin: 10px 0;
}

.toggle {
 position: relative;
 width: 60px;
 height: 60px;
 cursor: pointer;
 display: flex;
}

.toggle::before {
 content: '\f0c9';
 font-family: fontAwesome;
 position: absolute;
 width: 100%;
 height: 100%;
 line-height: 60px;
 font-size: 24px;
 text-align: center;
 color: rgb(204, 12, 12);
}

/* header */
.user {
 display: flex;
 align-items: center;
 margin-right: -70px;
}

.user h5 {
 color: #c92525;
}

.user img {
 width: 45px;
 height: 45px;
 border-radius: 50%;
}

.user small {
 display: inline-block;
 color: rgb(190, 184, 184);
 margin-top: -10px;
}

.notifi {
 display: flex;
}

/* search */
.search {
 position: relative;
 width: 300px;
 margin: 0 auto;
 display: flex;

}

.search label {
 position: relative;
 width: 100%;
}

.search label input {
 width: 100%;
 height: 40px;
 border-radius: 40px;
 padding: 5px 20px;
 outline: none;
 border: none;
 background: rgb(233, 229, 229);
}

.search label .fa {
 position: absolute;
 right: 15px;
 top: 12px;
 color: #c92525;
 cursor: pointer;
 transform: rotate(90deg);
}

/* user-img */
.user {
 display: flex;
 align-items: center;
}

.user img {
 border-radius: 50%;
 margin-right: 1rem;
}

.user small {
 display: inline-block;
 color: rgb(190, 184, 184);
}

.notifi ul li {
 margin-right: 30px;
 height: 48px;
 width: 48px;
 border-radius: 50px;
 line-height: 48px;
 display: block;
 font-size: 20px;
 transition: all 0.5s;
 text-align: center;
 background: #fff;
}

.notifi span {
 position: absolute;
 font-size: 0.625rem;
 border-radius: 50% !important;
 right: 11.6rem;
 top: 0.8rem;
 font-weight: normal;
 height: 25px;
 width: 25px;
 line-height: 1.1rem;
 padding: 0.3125rem;
 font-size: 0.875rem;
 background: #c92525;
 color: #fff;
 box-shadow: -1px 5px 5px rgb(253, 182, 182);
}
